@font-face {
    font-family: 'More Sugar';
    src: url('./font/more-sugar/MoreSugar-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cloud Loop';
    src: url('./font/CloudLoop-Regular/CloudLoop-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #fff3f4;
    font-family: 'Cloud Loop';
    background-image:
        url('./images/background.png');
    background-size: 220px;
    background-position:
        0 0;
    background-repeat: repeat;
}

.more-sugar-font {
    font-family: 'More Sugar';
    color: #EB8D96;
}

.center {
    margin: auto;
}

.center-text {
    margin: auto;
    text-align: center;
}

/* NAV BAR */

.logo {
    width: 200px;
}

.navbar {
    margin-top: 70px;
    display: flex;
    align-items: center;    
}

.navbar-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 290px;
    padding-right: 290px;
    justify-content: space-around;
    width: 100%
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

/* Hover can go here if needed */

a:active {
    color: black;
    font-weight: bolder;
}


/* BODY */

.main-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    margin-top: 100px;
}

h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.main-body-text {
    width: 360px;
}
.button {
    background-color: #F6C0C6; 
    color: white; /* Sets the text color to white */
    border: none; /* Removes any default border */
    border-radius: 15px; /* Rounds the corners */
    padding: 10px 20px; /* Adds padding for a button-like appearance */
    text-align: center; /* Centers the text */
    text-decoration: none; /* Removes underline from text */
    display: inline-block; /* Makes the element behave like a button */
    font-size: 16px; /* Sets the font size */
    cursor: pointer; /* Changes the cursor to a pointer when hovered */
}

.button:visited {
    color: white; 
}

/* OUR TREATS */

.our-treats {
    margin-top: 300px;
    background-color: #69432A;
    padding-top: 2px;
    padding-bottom: 40px;
}

h2 {
    font-family: 'More Sugar';
    color: white;
    font-size: 40px;
}

.treats {
    display: flex;
    justify-content: center;
    align-content: baseline;
}

h5 {
    font-family: 'More Sugar';
    color: white;
}

/* LOCATION AND HOURS */

.location-and-hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h3 {
    font-family: 'More Sugar';
    color:#EB8D96;
    font-size: 40px;
    margin: auto;
}

