@font-face {
    font-family: 'More Sugar';
    src: url('./font/more-sugar/MoreSugar-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cloud Loop';
    src: url('./font/CloudLoop-Regular/CloudLoop-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #fff3f4;
    font-family: 'Cloud Loop';
    background-image:
        url('./images/background.png');
    background-size: 220px;
    background-position:
        0 0;
    background-repeat: repeat;
}